dist: trusty

os:
  - linux
  - osx

language: node_js
node_js:
  - '0.10'
  - '0.12'
  - '4'
  - '5'
  - '6'
  - '7'
  - '8'
  - '9'
  - '10'
  - 'stable'

env:
matrix:
  exclude:
    - node_js: '0.12'
      os: osx
  include:
    - node_js: '0.12'
      os: osx
      osx_image: xcode7.3
  allow_failures:
    - node_js: '0.10'
    - node_js: '0.12'

before_install:
  - npm install nan bindings mocha should
