dist: trusty

os:
  - linux
  - osx

osx_image: xcode9.1

language: node_js
node_js:
  - '0.10'
  - '0.12'
  - '4'
  - '5'
  - '6'
  - '7'
  - '8'
  - '9'
  - 'stable'

before_install:
  - npm install supports-color@3.2.3 nan bindings mocha should
  - rm -rf node_modules/mocha/node_modules/supports-color
